
body{
    font-family: 'Inter', sans-serif;
    margin: 0; 
}


/* header Section  */



header {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(images/donation7.jpg);
    background-repeat: no-repeat;
    width: 1440px;
    height: 669px;
    left: 0px;
    top: 0px;
}

.header-content{
    padding-top:10% ;
    
  
}
header h1 {
    color: floralwhite;
    text-align: center;
    font-weight: 700;
    font-size: 65px;   
}
p{
font-weight: 400;
font-size: 18px;
color: floralwhite;
text-align: center;
}
header button {
    background-color: #FF5959;
    color: floralwhite;
    width: 160px;
    height: 56px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    padding: 16px 12px ;
    text-align: center;
    margin-left: 45%;
}
